<div class="card border-0 bg-light">
    <div class="card-body">
        <h5 class="card-title">Price Breakdown</h5>
        Base Package: Rs. {{ base_price }}<br>
        Extra Days: Rs. {{ extra_days_price }}<br>
        Activities ({{ adults }} adults x Rs. {{ activity_adult_total }} + {{ children }} children x Rs. {{ activity_child_total }}): Rs. {{ activities_total }}<br>
        Transport: Rs. {{ transport_total }}<br>
        Hotel: Rs. {{ hotel_total }}<br>
        Service Charge (10%): Rs. {{ service_charge }}<br>
        VAT (13%): Rs. {{ vat }}<br>
        <hr>
        <h4 class="text-primary">Estimated Total: Rs. {{ grand_total }}</h4>
    </div>
</div>
